@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
  --primaryColor: whitesmoke;
  --navColor1: whitesmoke;
  --navColor2: #aa3e39;
  --navColor3: #aa6e39;
  --navColor4: #236267;
  --navColor5: #2c8437;
}

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
  font-family: Source Sans Pro, sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: var(--primaryColor);
}

/*====================================================================
                            Header Styles   
====================================================================*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid #ccc;
  }
  
  .header-title {
    font-size: 1.5rem;
    text-shadow: -6px 3px 20px rgba(0 , 0 , 0, 0.6);
  }
  
 .header-nav nav {
    display: fixed;
    display: flex;
  }
  
  .header-nav nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .header-nav nav li {
    margin-right: 10px;
  }
  
  .header-nav nav a {
    font-size: 1.5rem;
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
  }
  
  .header-nav nav a:hover {
    text-decoration: underline;
  }

  /* Overlay */
  .overlay {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateX(-100vw);
    display: flex;
  }

  /* Nav Menu Items */
  .overlay nav,
  .overlay nav ul {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  .overlay nav ul li {
    height: 20%;
    overflow: hidden;
  }

  .overlay nav ul {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    list-style: none;
  }

  .overlay nav li a {
    position: relative;
    top: 45%;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    display: block;
    text-align: center;
  }

  .overlay-slide-right {
    transition: all 0.4s ease-in-out;
    transform: translateX(0);
  }
  
  .overlay-slide-left {
    transition: all 1.2s ease-in-out;
    transform: translateX(-100vw);
  }

  /* Slide in animation with delay for each */
  .slide-in-1 {
    animation: slide-in 0.4s linear 0.2s both;
  }

  .slide-in-2 {
    animation: slide-in 0.4s linear 0.4s both;
  }

  .slide-in-3 {
    animation: slide-in 0.4s linear 0.6s both;
  }

  .slide-in-4 {
    animation: slide-in 0.4s linear 0.8s both;
  }

  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
  
    to {
      transform: translateX(0);
    }
  }

  /* Slide out animation with delay for each */
  .slide-out-1 {
    animation: slide-out 0.3s linear 0.5s both;
  }

  .slide-out-2 {
    animation: slide-out 0.3s linear 0.4s both;
  }

  .slide-out-3 {
    animation: slide-out 0.3s linear 0.3s both;
  }

  .slide-out-4 {
    animation: slide-out 0.3s linear 0.2s both;
  }

  .slide-out-5 {
    animation: slide-out 0.3s linear 0.1s both;
  }

  @keyframes slide-out {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }

  /* Menu Bars Styles */
  .menu-bars {
    display: none;
    cursor: pointer;
    z-index: 10;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}

  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

 /* Media Query: Large and Small Phones */
  @media screen and (max-width: 900px){
    /*  Replace Nav with Hamb buttom */
    .menu-bars {
      position: fixed;
      top: 2rem;
      right: 2rem;
      display: block;
    }

    .header-nav nav {
      display: none;
    }

    .header-title {
      font-size: 1rem;
      text-shadow: -2px 3px 25px rgba(0 , 0 , 0, 0.4);
    }
  }
  /*====================================================================
                            body Styles   
====================================================================*/
/* Slide Show */
  .slideshow {
    width: 100%;
    height: 400px; /* Adjust the height as needed */
    overflow: hidden;
  }

  .slideshow img {
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }

  .slideshow img:hover {
    cursor: pointer;
    opacity: .7;
  }

/* Context */
.context {
  padding-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
}
.context img {
  align-items: center;
  object-fit: contain; /* Adjust the image sizing behavior as needed */
  margin: 0 auto; /* Center horizontally */
  height: 30rem;
  width: 30rem;
}
.context .context-text {
  margin: 0 auto; /* Center horizontally */
  padding: 70px;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 20px;
}
.context .context-text::first-letter {
  font-size: 24px;
  text-decoration:solid;
}

/* Media Query: Mobile Devices: Phones */
@media screen and (max-width: 768px) {
  .context {
    flex-direction: column;
  }
  .context img {
    padding: 20px;
    max-width: 70%;
    max-height: 60%;
  }
}

/* Media Query: Mobile Devices: Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .context img {
    padding: 20px;
    max-width: 40%;
    max-height: 40%;
  }
}

/* Media Query: Larger Screens */
@media screen and (min-width: 1024px) {
  .context img {
    padding: 20px;
    max-width: 80%;
    max-height: 80%;
  }
}